{% extends 'base.html' %}7

{% block main %}

<div class="container d-flex justify-content-center p-5">
    <div class="col-6 card p-5">
        <form method="post" action="">
            {% csrf_token %}
            <h5 class="text-center">Are you want delete "{{ article.title }}" ?</h5>
            <br>
            <div class="d-flex justify-content-evenly">
                <input class="btn btn-danger btn-lg" type="submit" value="Yes, Delete!">
                <a class="btn btn-success btn-lg" href="{% url 'article' article.id %}">Back</a>
            </div>
        </form>
    </div>
</div>

{% endblock main %}
